*{
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}
@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Regular.ttf);
}

.wrap{
    position: relative;
    width: 100%;
}

header{
    width: 100%;
    align-items: center;
}

.nav-wrap{
    width: 100%;
    padding:32px 0px;
}

.nav-block{
    position: relative;
    display: flex;
    margin: auto;
    width: 30%;
    text-align: center;
    box-sizing: border-box;
}

.nav-button{
    margin: auto;
    padding: 5px;
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
    color: #000;
    transition: 0.15s;
}
.nav-button:hover{
    color: #666;
    font-size: 18px;
    padding-bottom: 0px;
    transition: 0.5s;
}

.header-title{
    text-align: center;
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 5px;
    padding: 35px 0px 50px;
}

.header-cover{
    width: 100%;
}

.cover{
    margin: auto;
    width: 896px;
    height: 522px;
    background-image: url(../imgs/header.png);
    background-size: 100%;
    background-repeat: no-repeat;
    -webkit-user-drag: none;
}

.star{
    position: absolute;
    width: 16px;
    height: 16px;
    background-image: url(../imgs/elements/star.png);
    transition: 0.3s;
}
.star:hover{
    scale: 1.75;
    transition: 0.3s;
}

.star1{
    right: -300px;
    top: 120px;
}
.star2{
    left: -300px;
    top: 100px;
}
.star3{
    left: -200px;
    top: 250px;
}
.star4{
    left: 500px;
    top: -30px;
}.star5{
    right: 550px;
    bottom: 0;
}.star6{
    right: 450px;
    bottom: 50px;
}

.gallery-wrap{
    margin-top: 100px;
    width: 100%;
}

.gallery-title{ 
    position: relative;  
    margin: auto;
    text-align: center;
    font-size: 48px;
}

.star{
    position: absolute;
    background-image: url("../imgs/elements/star.png");
    background-size: 100%;
    background-position: center;
}

.grid-wrap{
    margin: auto;
    margin-top: 25px;
    width: 80%;
}

.grid{
    margin: auto;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


.grid-block{
    position: relative;
    margin: auto;
    width: 386px;
    height: 386px;
    background-color: #666;
    background-position: center;
    background-size: 100%;
    margin-bottom: 32px;
    transition: 0.3s;
    border-radius: 5px;
}

.caption{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 25px;
    background: linear-gradient(
        transparent 0%,
        rgba(0, 0, 0, 0.3) 100%,
        rgba(0, 0, 0, 0.8) 100%
    );
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    transition: 0.15s;
}

.caption h3 {
    margin-bottom: 4px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.01em;
}

.caption p {
    font-size: 14px;
    font-weight: 400;
}

.grid-block:hover{
    cursor: pointer;
    background-size: 115%;
    scale: 1.05;
    transition: 0.3s;
}
.grid-block:hover .caption{
    opacity: 1;
    transition: 0.2s;

}

.arrow{
    position: relative;
    margin-top: 5px;
}
.arrow-body{
    width: 86px;
    height: 1px;
}
.arrow-top{    
    position: absolute;
    right: 0;
    top: -2.5px;
    rotate: 45deg;
    width: 6px;
    height: 1px;
    transition: 0.15s;
}
.arrow-bottom{    
    position: absolute;
    right: 0;
    top: 2px;
    rotate: -45deg;
    width: 6px;
    height: 1px;
    transition: 0.15s;
}
.arrow-element{
    background-color: #515151;
    transition: 0.15s;
}

.gallery-more{
    color: #515151;
    font-size: 16px;
    font-weight: 300;
    float: right;
    margin-right: 100px;
    align-items: center;
    text-align: center;
    text-decoration: none;
    border: none;
    background-color: rgba(1, 1, 1, 0);
    transition: 0.15s;
}
.gallery-more:hover{
    cursor: pointer;
    color: #000;
    font-size: 18px;
    transition: 0.15s;
}
.gallery-more:hover .arrow-element{
    background-color: #000;
    scale: 1.2;
    transition: 0.15s;
}
.gallery-more:hover .arrow-bottom{
    right: -10px;
    top: 3.1px;
    transition: 0.15s;
}
.gallery-more:hover .arrow-top{
    right: -10px;
    top: -2px;
    transition: 0.15s;
}

.bubble-bg{
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 1178px;
    height: 1070px;
    background-image: url(../imgs/elements/decor_ellipse.png);
    background-size: 100%;
    background-position: center;
    z-index: -1;
}

.author{
    margin-top: 125px;
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
    color: #686868;
}



@media (max-width: 1600px) {
    .grid{
        margin: auto;
        width: 90%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 1000px) {
    .grid{
        margin: auto;
        width: 90%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .nav-block{
        width: 40%;
    }
    .cover{
        width: 90%;
    }
}