*{
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}
@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Regular.ttf);
}

.wrap{
    width: 100%;
}

header{
    width: 100%;
    align-items: center;
}

.nav-wrap{
    width: 100%;
    padding:32px 0px;
}

.nav-block{
    display: flex;
    margin: auto;
    width: 30%;
    text-align: center;
    box-sizing: border-box;
}

.nav-button{
    margin: auto;
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
    color: #000;
    transition: 0.15s;
}
.nav-button:hover{
    color: #666;
    transition: 0.15s;
}

.header-title{
    text-align: center;
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 5px;
    padding: 35px 0px 50px;
}

.header-cover{
    width: 100%;
}

.cover{
    margin: auto;
    width: 896px;
    height: 522px;
    background-image: url(../imgs/header.png);
    background-size: 100%;
    background-repeat: no-repeat;
    -webkit-user-drag: none;
}

.gallery-wrap{
    margin-top: 100px;
    width: 100%;
}

.gallery-title{ 
    position: relative;  
    margin: auto;
    text-align: center;
    font-size: 48px;
}

.star{
    position: absolute;
    background-image: url("../imgs/elements/star.png");
    background-size: 100%;
    background-position: center;
}

.grid-wrap{
    margin: auto;
    margin-top: 25px;
    width: 80%;
    background-color: antiquewhite;
}

.grid{
    margin: auto;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


.grid-block{
    margin: auto;
    width: 386px;
    height: 386px;
    background-color: #666;
    background-position: center;
    background-size: 100%;
    margin-bottom: 32px;
    transition: 0.3s;
}
.grid-block:hover{
    cursor: pointer;
    background-size: 115%;
    transition: 0.3s;
}

.gallery-more{
    font-size: 16px;
    font-weight: 300;
    float: right;
    margin-right: 100px;
}



@media (max-width: 1600px) {
    .grid{
        margin: auto;
        width: 90%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 1000px) {
    .grid{
        margin: auto;
        width: 90%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .nav-block{
        width: 40%;
    }
    .cover{
        width: 90%;
    }
}